# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs
.vscode

# Rider
.idea
/src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/Resources/Voicelines/PL/1200200/12002_2.mp3.meta
/src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/Resources/Voicelines/PL/1200300/12003_4.mp3.meta
/src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/Resources/Voicelines/PL/1200200/12002_1.mp3.meta
/src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/Resources/Voicelines/PL/1200200/12002_5.mp3.meta
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/Resources/Locales/cn.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/Resources/Locales/en.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/Resources/Locales/pl.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/Resources/Locales/ru.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/StreamingFile/Locales/cn.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/StreamingFile/Locales/en.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/StreamingFile/Locales/pl.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/StreamingFile/Locales/ru.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/DiyGwent_Data/StreamingFile/Locales/ru.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/DiyGwent_Data/StreamingFile/Locales/pl.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/StreamingFile/Locales/cn.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/StreamingFile/Locales/en.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/StreamingFile/Locales/cn.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/StreamingFile/Locales/en.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/StreamingFile/Locales/pl.json
src/Cynthia.Card.Unity/src/Cynthia.Unity.Card/Assets/StreamingFile/Locales/ru.json
