<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">主页</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 主页
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gameresults">
                <span class="oi oi-plus" aria-hidden="true"></span> 对战记录
            </NavLink>
        </li> 
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> 点点点
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="thank">
                <span class="oi oi-plus" aria-hidden="true"></span> 特别感谢
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
