@page "/cardart"
@using System.IO;
@using System.Collections.Generic;

<div>
    @foreach (var card in GetPngFileNames("./wwwroot/scale"))
    {
        <div class="card">
            <img src="@($"./scale/{card}")" alt="card" />
            <p class="card-text">@card.Replace(".png", "")</p>
        </div>
    }
</div>

@code
{
    public List<string> GetPngFileNames(string folderPath)
    {
        List<string> pngFileNames = new List<string>(); 
        foreach (string filePath in Directory.GetFiles(folderPath, "*.png"))
        {
            string fileName = Path.GetFileName(filePath);
            pngFileNames.Add(fileName);
        }

        return pngFileNames;
    }
}