@page "/counter"
@inject CounterService counterService
@implements IDisposable

<h1>计数器</h1>

<p>自本次服务器启动起,总共被戳: @currentCount 次</p>

<button class="btn btn-primary" @onclick="IncrementCount">戳</button>

@code {
    int currentCount;

    void IncrementCount()
    {
        counterService.Click();
    }

    protected override void OnInitialized()
    {
        currentCount = counterService.GetValue();
        counterService.OnValueChanged += OnValueChanged;
    }

    private void OnValueChanged(int newValue)
    {
        InvokeAsync(() => {
            currentCount = newValue;
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        counterService.OnValueChanged  -= OnValueChanged;
    }
}
