@page "/counter"

<h1>计数器</h1>

<p>戳了: @currentCount 次</p>

<button class="btn btn-primary" @onclick="IncrementCount">戳</button>

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }
}
