@page "/download"
@using Cynthia.Card.Server

<style>
.gwent-download{
    margin: 10px 0px;
}

.gwent-download-div{
    padding: 10px 0px;
    margin: 10px 0px;
}

.gwent-download-button{
    background-color: beige;
    border-radius:15px;
    padding: 10px;
    height: 50px;
    border: 1px solid black;
}
</style>

<h1>下载地址</h1>
<div class="gwent-download">
  <div class="gwent-download-div">
    <a href="https://share.weiyun.com/W8Pp4xRC" target="_blank" rel="noopener noreferrer">
      <button class="gwent-download-button">DIY服-Windows下载</button>
    </a>
  </div>

  <div class="gwent-download-div">
    <a href="https://www.jianguoyun.com/p/DSwilY0Q-K-7CBi415sD" target="_blank" rel="noopener noreferrer">
      <button class="gwent-download-button">DIY服-Android下载</button>
    </a>
  </div>

  <div class="gwent-download-div">
    <a href="https://www.jianguoyun.com/p/DRaHzxgQ-K-7CBi315sD" target="_blank" rel="noopener noreferrer">
      <button class="gwent-download-button">DIY服-Mac下载</button>
    </a>
  </div>

  <div class="gwent-download-div">
    <a href="https://www.jianguoyun.com/p/DTpZeMcQ-K-7CBic15sD" target="_blank" rel="noopener noreferrer">
      <button class="gwent-download-button">DIY服-Windows-语音抢先版下载</button>
    </a>
  </div>
</div>

<p>这里使用网盘地址，以节省服务器流量</p>
