@page "/thank2"
@using Cynthia.Card.Server

<h1>项目特别感谢</h1>
<br/>
<h3>感谢</h3>
<p>diy评估,diy卡牌制作,各种群活动和群秩序管理的neal~</p>
<p>对diy提供众多创作建议的文与椛,对老卡进行平衡性调整的安度因</p>
<p>第二次本服比赛的赞助/协助者亚克西(以及本次活动其他协助者与赞助者qwq)</p>
<p>对discord进行宣传管理的dr.w</p>
<p>参与基础卡牌制作的joeshyn,冰山一角,tale</p>
<p>研究语音的AS</p>
<p>项目架构指导的师傅Alsein</p>
<p>与</p>
<p>群内的所有管理,一直陪伴支持的群里们的大家,十分感谢!</p>

<br/><br/>

<p>由于完全不懂css,无法做的很漂亮qvq,还请见谅</p>
<p>贡献者可能有遗漏,欢迎补充</p>